#img_princ{
    position: relative;
    text-align: center;
    /*color: white;*/
}

#img-chida{
    width: 320px;
    height: auto;
    padding: 20px;
}

#evolve{
    width: 320px;
    height: auto;
}

#origins{
    width: 320px;
    height: auto;    
}

body{
    background-color: #EDAE49;
}

ul{
    display: table;
    margin: 0 auto;
}

#titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#tarjeta{
    margin: 0 auto;
    float: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #143A45;
     /*#1E6167;*/
}

#arr{
    padding: 15px;
    background-color: #171E38;
}

#arr-izq{
    padding-left: 15px;
}


#arr-der{
    padding-top: 15px;
    vertical-align: middle!important;
}

#der-arr{
    background-color: #769698;
    text-align: center!important;
}

#der-medio{
    background-color: #5A9498;
}

#der-abajo{
    background-color: #3a4e66;
}

#medio{
    padding: 15px;
    background-color: #0c1918;
}

#medio-izq{
    background-color: #6F9250;
}

#medio-der{
    
}

#abajo{
    padding: 15px;
    background-color: #1E6167;
}

#abajo-izq{
    text-align: center;
}

#abajo-der{
    border-radius:5px;
    background-color: #254A3B;
    color: #769698;
}
#izq{
    background-color: #9dc7c8;
    border-radius: 10px;
    /**color: #E4FFE1;**/
    padding: 10px;
}

#der{
    background-color: #F18F01;
    padding: 5px;
    border-radius: 10px;
    color:#0F3134;
}

#subt1{
    text-align: center;
}

#img_dragonzitos{
    width: 100%;
    padding-bottom: 15px;
}